body {
  margin: 0;
  padding-bottom: 3rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background-image: url(./components/back.gif);
  background-color: #f0f0f0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}


#form {
  background: rgba(0, 0, 0, 0.15);
  padding: 0.25rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 3rem;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
}

#input {
  border: none;
  padding: 0 1rem;
  flex-grow: 1;
  border-radius: 2rem;
  margin: 0.25rem;
}

#input:focus {
  outline: none;
}

#form>button {
  background: #333;
  border: none;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 3px;
  outline: none;
  color: #fff;
}

#usercount,
#welcomeMessage {
  display: flex;
  justify-content: center;
  border: 2px solid black;
  padding: 0 1rem;
  flex-grow: 1;
  margin: 0.25rem;
  border-radius: 2rem;
  font-size: large;
}

#usercount {
  background-color: beige;
}

#welcomeMessage {
  background-color: bisque;
}


.socket-id {
  color: rgb(110, 158, 68);
}


#messages {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 400px;
  overflow-y: auto;
}

.message-item {
  display: flex;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  max-width: 40%;
  word-wrap: break-word;
}

.my-message {
  background-color: #79ef11a4;
  color: #fff;
  margin-left: auto;
  justify-content: flex-end;
}

.other-message {
  background-color: #081001d8;
  color: #fff;
  margin-right: auto;

  justify-content: flex-start;
}

.id-container {
  font-size: 0.75rem;
  color: #888;
}

.message-content {
  font-size: 1rem;
  margin-top: 5px;
}

#messages div {
  clear: both;
}

#roomInput:focus {
  border: 2px solid transparent;
  transition: all 0.1s ease;
  background: linear-gradient(#121125, #121125) padding-box,
    linear-gradient(45deg, blue, red) border-box;
}

#roomInput {
  all: unset;
  color: #fff;
  border: 1px solid #999797;
  border-radius: 5px;
  padding: 10px 20px;
}

.room-form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.room-form input {
  margin-right: 10px;
}